/* Rampart One */
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


/* general */

:root {
  --bg: #f2f2f2;
  --neutral-200: #e5e5e5;
  --neutral-300: #d4d4d4;
  --neutral-400: #a3a3a3;
  --neutral-700: #404040;
  --neutral-800: #262626;
  --neutral-900: #171717;
  --gap-100: 0.4rem;
  --gap-150: 0.6rem;
  --gap-200: 0.8rem;
  --gap-250: 1.0rem;
  --gap-300: 1.2rem;
  --gap-400: 1.6rem;
  --gap-500: 2.0rem;
  --gap-600: 2.4rem;
  --gap-700: 2.8rem;
  --gap-800: 3.2rem;
  --gap-1000: 4rem;
  --font-stack: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-family: var(--font-stack);
  color: var(--neutral-800);
  line-height: 1.25;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all .1s ease-in-out;
}

html, body {
  height: 100%;
}

body {
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

body::before {
  background-image: url("./assets/leaves.png");
  content: " ";
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
}

a {
  text-decoration: none;
}

h1 {
  background-color: var(--bg);
  border-radius: 24px;
  box-shadow: 0 0 12px 12px var(--bg);
  color: var(--neutral-700);
  font-family: 'Rampart One', var(--font-stack);
  /* font-size: 3rem; */
  font-size: calc(2.0rem + 2vw);
  text-align: center;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.1rem;
  font-weight: bold;
}

p, li {
  /* font-size: 1.1rem; */
  font-size: calc(0.9rem + 0.25vw);
}

li {
  font-weight: 500;
  list-style-type: none;
}


/* content */

#content {
  /* background-color: var(--bg); */
  width: min(42rem, 80%);
  position: relative;
  z-index: 1;
}

header {
  display: flex;
  justify-content: center;
  padding: var(--gap-400) 0;
}

main {
  display: flex;
  flex-direction: column;
  gap: var(--gap-400);
  background-color: var(--bg);
  box-shadow: 0 0 12px rgba(0,0,0,0.2);
  border-radius: 16px;
  padding: var(--gap-400);
}

main > div {
  display: flex;
  flex-direction: column;
  gap: var(--gap-300);
}


/* nav */

nav {
  display: grid;
  place-content: center;
}

#nav {
  display: flex;
  gap: calc(var(--gap-100) + 1.5vw);
}

#nav li {
  display: grid;
  place-content: center;
  border-radius: 16px 16px 0 0;
  width: 6.4rem;
  width: calc(4.7rem + 2vw);
  height: 3rem;
  background-color: var(--neutral-200);
  border: 1px solid var(--neutral-300);
}

#nav .selected {
  background-color: var(--bg);
  border-bottom: none;
  border-top: 1px solid var(--neutral-300);
  border-right: 1px solid var(--neutral-300);
  border-left: 1px solid var(--neutral-300);
  box-shadow: 0 -6px 8px rgba(0,0,0,0.1);
}

#nav li:hover {
  cursor: pointer;
  background-color: var(--bg);
}


/* home */

.review > p:last-child {
  text-align: right;
  margin-top: var(--gap-100);
}

.about img {
  height: 100%;
  width: 100%;
  border-radius: 12px;
}

.about-info {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: var(--gap-300);
}

.about-info p {
  grid-row: 1 / -1;
}

/* menu */

.meal {
  display: flex;
  gap: var(--gap-400);
}

.meal > img {
  height: 40%;
  width: 40%;
  border-radius: 12px;
}

.meal > div {
  display: flex;
  flex-direction: column;
  gap: var(--gap-100);
}


/* contact */

.contact-block {
  /* display: grid; */
  /* grid-template-columns: 2fr 3fr; */
  /* grid-template-rows: repeat(4, 1fr); */
  display: flex;
  flex-direction: row;
}

.contact-block > img {
  border-radius: 12px;
  /* grid-row: 1 / -1; */
  height: 40%;
  width: 40%
}

.contact-block > div {
  display: flex;
  flex-direction: column;
  gap: var(--gap-300);
}

.contact-info {
  display: flex;
  flex-direction: row;
  gap: var(--gap-150);
}

.contact-info > img {
  height: 20px;
  width: 20px;
}


/* mobile media query */

@media only screen and (max-width: 675px) {

  .about-info {
    grid-template-columns: 1fr;
  }

  .meal {
    flex-direction: column;
  }

  .meal > img {
    height: 60%;
    width: 60%;
  }

  .contact-block {
    flex-direction: column;
  }

  .contact-block > img {
    width: 75%;
    height: 75%;
  }

}