/* general */

:root {
  --bg: #f2f2f2;
  --gap-100: 0.4rem;
  --gap-150: 0.6rem;
  --gap-200: 0.8rem;
  --gap-250: 1.0rem;
  --gap-300: 1.2rem;
  --gap-400: 1.6rem;
  --gap-500: 2.0rem;
  --gap-600: 2.4rem;
  --gap-700: 2.8rem;
  --gap-800: 3.2rem;
  --gap-1000: 4rem;
  --font-stack: "Helvetica", "Arial", sans-serif;
  font-family: var(--font-stack);
  line-height: 1.25;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all .1s ease-in-out;
}

html, body {
  height: 100%;
}

body {
  background-image: url("leaves.png");
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}

h1 {
  text-align: center;
}

/* content */

#content {
  background-color: var(--bg);
  width: min(66.67%);
}

header, main {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: var(--gap-500);
  padding: var(--gap-400);
}

main > div {
  display: flex;
  flex-direction: column;
  gap: var(--gap-200);
}

/* home */

.review > p:last-child {
  text-align: right;
  margin-top: var(--gap-100);
}